.nav{
    grid-area: n;
    background-color: whitesmoke;
}

.item a {
    margin-left: 26%;
    font: 17pt Calibri;
    text-decoration: none;
    color: black;
}

.item a.activeLink{
    color: brown;
}

.item.first{
    margin-top: 15%;
}

.item.last{
    margin-top: 30%;
}