.nav{
    grid-area: n;
    background-color: whitesmoke;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.item a {
    font: 17pt Calibri;
    text-decoration: none;
    color: black;
}

.item a.activeLink{
    color: brown;
}

.item.settings{
    padding-top: 3rem;
}

.item.friends{
    padding-top: 6rem;
}

.friendItem{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}