.dialogMenu {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogs {
    padding-top: 2rem;
    padding-left: 3rem;
}

.messages {
    padding-top: 2rem;
    position:relative;
}

.addMessage{
    position: absolute;
    bottom: 0;
}