.dialogMenu {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogs {
    padding-top: 2rem;
    padding-left: 3rem;
}

.dialog a {
    font: 14pt Calibri;
    text-decoration: none;
    color: black;
}

.dialog a.activeLink{
    color: darkorange;
}

.messages {
    padding-top: 2rem;
}

.messages .message{
    font: 14pt Calibri;
}